@media screen and (max-width: 501px) {
    #cabecalho .cronometro .countdown.styled > div:before {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #cabecalho {
        padding-bottom: 150px;
        height: auto !important;
    }
    #cabecalho:after {
        transform: scale(0.9) rotate(5deg) !Important;
        background-size: 160%;
        bottom: -62px;
    }

    #cabecalho .col-xs-12 {
        float: none;
    }
	/*/ Barra Login / Cadastro /*/

    #cabecalho .row-fluid.entrar a {
        position: relative;
        z-index: 5;
        margin: 10px 0 !important;
        width: 140px !important;
        font-size: 15px !important;
    }
    /*/ logo cabecalho /*/
    #cabecalho .logo-cabecalho {
        text-align: center;
    }

	/*/ Cronometro /*/
#cabecalho .cronometro .countdown.styled > div {
    margin: 20px 0;
    display: block;
    font-size: 85px;
}
#cabecalho .cronometro .countdown.styled > div > span {
    display: block;
    top: -10px;
    left: 0 !Important;
}

}