@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

 *{
 	font-family: 'Roboto', sans-serif;
	margin:0;
	padding: 0;
}
a.voltar,button.cdtr {
    text-decoration: none;
    padding: 20px 12px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    float: left;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #90d23d;
    position: absolute;
    top: 37px;
    transition: 0.3s;
}
a.voltar {
	left: 41px;
}
a.voltar:hover,button.cdtr:hover {
	background: #90d23d;
}
button.cdtr {
	background: transparent;
	outline: none;
    right: 41px;
}


body#bodyLogin {
	background: url(../imagens/img/Depositphotos_66384511_l-2015.png) top center no-repeat;
	background-color: #000;
	background-attachment: fixed;
}
.box-login-center {
	width: 33%;
	margin: 5% auto;
	transition: all 0.8s;
	transform: translateY(500px);
	opacity: 0;
	
}
.box-login-center.initial {
	transition: all 0.8s;
	opacity: 1;
	transform: translateY(0px);
} 

.dropped-box .box-login-center:not(.cadastro) {
	transform: translateY(300px);
	opacity: 0;
	visibility: hidden;
}

#bodyLogin .box-login-center .box form {
	background: #fff;
    padding: 11% 9% 27%;

}
#bodyLogin .box-login-center .box .logo-login.text-center {
	background: rgba(0, 0, 0, 0.59);
    padding: 35px 0px;
}
#bodyLogin .box-login-center .box form .form-group {
	    margin-bottom: 35px;
	    padding: 10px 0px 6px 4px;
	    border: 1px solid #bebebe;
}
#bodyLogin .box-login-center .box form .form-group:hover {
    box-shadow: 0px 0px 14px -3px rgba(33, 33, 33, 0.14);
    border-color: #90d23d;
        outline: none;
        background: #f0f0f0;
}

#bodyLogin .box-login-center .box form label {
   font-size: 12px;
    margin-left: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
        color: #A4A5A9;
}

#bodyLogin .box-login-center .box form input {
    border-radius: 0;
    border-color: #bebebe;
    height: 25px;
    box-shadow: none !important;
    border: none;
    background: transparent;
}
#bodyLogin .box-login-center .box form input::-webkit-input-placeholder {
	font-size: 15px;
	color: #A4A5A9;
}
#bodyLogin .box-login-center .box form .submit {
    padding: 10px 40px;
    border-radius: 0;
    background: #84c434;
    border-color: #84c434;
    font-size: 17px;
    transition: all 0.5s;
    width: 100%;
}
#bodyLogin .box-login-center .box form .submit:hover {
	background:#fff;
	color:#84c434;
}

#bodyLogin .box-login-center .box form .items {
	padding: 0;
	text-align: center;
}
#bodyLogin .box-login-center .box form .items button {
	display: block;
}

#bodyLogin .box-login-center .box form .items a.esqueceu-senha {
	    font-size: 15px;
    font-weight: 700;
    color: #85c52f;
    margin: 20px;
    display: block;

}

/*/ Cadastro /*/
#bodyLogin .box-login-center.cadastro .box form .form-group {
    margin-bottom: 17px;
    padding: 18px 0px 15px 4px;
}
#bodyLogin .box-login-center.cadastro .box form {
    padding: 8% 9% 27%;
}

#bodyLogin .box-login-center.cadastro .box form .items {
    margin-top: 17px;
}
#bodyLogin .box-login-center.cadastro .box form .submit {
    padding: 15px 40px;
    font-size: 18px;
}
#bodyLogin .box-login-center.cadastro {
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s;
}
.dropped-box .box-login-center.cadastro {
	transform: translateY(-583px);
	opacity: 1 !important;
	visibility: visible !Important;
}

 

.box-login-center.time-effct {
	transition: none !Important;
	opacity: 0 !important;
}